/*===============================
Start Cart Page Wrapper
================================*/

.shopping-cart-table {
  thead {
    th {
      font-weight: 400;
      @include font-noline(13);
      text-transform: uppercase;
      border-bottom: 0;
    }
  }

  tr {
    td, th {
      vertical-align: middle;
      width: 15%;
      padding: 10px;
      border-color: rgba(0, 0, 0, 0.1);
      white-space: nowrap;

      &.product-list {
        width: 55%;
      }
    }
  }

  .product-list {
    .remove-icon {
      margin-right: 15px;
      button {
        color: #848484;

        &:hover {
          color: $brand-color;
        }
      }
    }

    .product-thumb {
      display: block;
      width: 70px;
      margin-right: 20px;
    }

    .product-name {
      color: $black-soft;
      @include font-noline(13);
      line-height: 1;

      &:hover {
        color: $brand-color;
      }
    }
  }

  .pro-qty {
    height: 55px;
  }
}

.cart-coupon-update-area {
  @include font-noline(13);
  margin-top: 20px;

  button {
    @include font-noline(14);
    font-weight: 600;

    &:hover {
      color: $brand-color;
    }
  }

  .coupon-form-wrap {
    width: 55%;

    @media #{$xs-device} {
      width: 100%;
    }

    form {
      position: relative;

      input {
        border: none;
        border-bottom: 1px solid #e7e7e7;
        display: block;
        outline: none;
        padding: 5px 100px 5px 0;
        @include transition(0.2s);
        width: 100%;

        &:focus {
          border-color: $brand-color;
        }
      }

      .btn-apply {
        position: absolute;
        right: 0;
        top: 50%;
        @include translate(0, -50%);
      }
    }
  }

  .cart-update-buttons {
    button {
      &:nth-child(1n + 2) {
        margin-left: 10px;
      }
    }
  }
}

.cart-calculate-area {
  background-color: #F9F9F9;
  padding: 30px 30px 0;

  h5 {
    font-weight: 600;
    @include font-noline(13);
    line-height: 1;
    margin-bottom: 20px;
  }

  .cart-cal-table {
    white-space: nowrap;
    table {
      margin-bottom: 0;
    }

    td, th {
      @include font-noline(13);
      font-weight: 400;
      padding: 5px 0 15px;
    }

    .shipping-method {
      li {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .order-total {
      border-top: 1px solid #DBDBDB;

      th, td {
        padding-top: 15px;
      }
    }
  }

  .proceed-checkout-btn {
    margin: 15px -30px 0;
  }
}