/*===============================
Start My Account Wrapper
================================*/

.my-account-item-wrapper {
  h3 {
    @include font-noline(24);
    font-weight: 600;
    margin-bottom: 30px;
  }
  .lost-pswd {
    a {
      color: $brand-color;
      @include font-noline(12);
      line-height: 1;

      &:hover {
        color: $black-soft;
        text-decoration: underline;
      }
    }
  }
}

.single-form-input {
  color: #8d8d8d;
  @include font-size(12);
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }

  a:not(.btn) {
    color: $brand-color;
  }

  label {
    color: $black-soft;
    display: block;
    margin-bottom: 10px;

    sup {
      color: $red;
      @include font-noline(15);
      top: -0.1rem;
    }
  }

  input {
    border: 1px solid #D4D4D4;
    @include font-noline(14);
    display: block;
    outline: none;
    padding: 20px;
    @include transition(0.3s);
    width: 100%;

    &:focus {
      border-color: $black-soft;
    }
  }

  .btn {
    padding: 20px 50px;
  }
}