/*===================================
Start Single Product Page Wrapper
======================================*/

// Single Product Thumbnail Style
.single-product-thumb-wrap {
  figure {
    margin: 0;
  }

  .product-thumb-large-view {
    position: relative;
    .product-thumb-btns {
      position: absolute;
      bottom: 30px;
      right: 30px;
      button, a {
        background-color: white;
        @include border-radius(50%);
        color: $black-soft;
        margin-bottom: 10px;
        display: block;
        @include transition(0.3s);
        text-align: center;
        line-height: 55px;
        height: 50px;
        width: 50px;

        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          background-color: $brand-color;
          color: white;
        }
      }
    }
  }

  .product-thumbnail-nav {
    max-width: 410px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    .slick-list {
      margin: 0 -5px;
      .slick-slide {
        margin: 0 5px;

        &.slick-current {
          img {
            @include opacity(1);
          }
        }
      }
    }
    .product-thumb-item {
      cursor: pointer;
      max-width: 130px;
      max-height: 150px;

      img {
        @include opacity(0.2);
      }
    }
  }

  // Single Product Tab Left Style
  &.tab-style-left {
    position: relative;

    .product-thumb-large-view {
      margin-left: 190px;

      @media #{$sm-device, $lg-device} {
        margin-left: 110px;
      }

      @media #{$xs-device} {
        margin-left: 70px;
      }
    }

    .vertical-tab-nav {
      max-width: 170px;
      position: absolute;
      top: 0;
      left: 0;

      @media #{$sm-device, $lg-device} {
        max-width: 100px;
      }

      @media #{$xs-device} {
        max-width: 60px;
      }

      .product-thumb-item {
        max-height: 210px;
        cursor: pointer;
        margin-bottom: 20px;
        overflow: hidden;

        @media #{$sm-device} {
          margin-bottom: 10px;
        }
      }

      .slick-slide {
        border: none;
        .product-thumb-item {
          @include opacity(0.2);
        }

        &.slick-current {
          .product-thumb-item {
            @include opacity(1);
          }
        }
      }
    }
  }

  // Single Product Sticky Style
  .product-thumb-sticky-left {
    .product-thumb-item {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // Single Product Masonry
  .product-thumb-masonry {
    .product-thumb-item {
      max-width: 50%;
    }

    .masonry-height-350 {
      max-height: 351px;
      overflow: hidden;
    }
  }
}

// Single Product Content
.single-product-details {
  .product-name {
    font-weight: 400;
    @include font-noline(24);
    line-height: 1.2;
    margin-top: -4px;
  }

  .prices-stock-status {
    margin: 30px 0;

    @media #{$sm-device,$md-device} {
      margin: 15px 0;
    }
  }

  .quantity-btn-group {
    margin-top: 47px;
    margin-bottom: 15px;
    @media #{$sm-device,$md-device} {
      margin-top: 27px;
    }

    @media #{$xxs-device} {
      margin-bottom: 4px;
    }
  }

  .prices-group {
    .old-price {
      @include font-noline(14);
      color: #8d8d8d;
    }
    .price {
      @include font-noline(18);
    }
  }

  .stock-status {
    color: #8d8d8d;
    @include font-noline(12);

    [class*="dl-icon-"] {
      @include font-noline(14);
      vertical-align: middle;
      margin-right: 3px;
    }
  }

  .product-desc {
    color: #8d8d8d;
    @include font-noline(14);
    line-height: 1.8;
  }

  .pro-qty {
    height: 69px;
    margin-right: 10px;
    @media #{$xxs-device} {
      width: 50%;
      height: 49.5px;
      margin-bottom: 20px;
    }
  }

  .list-btn-group {
    .btn-black {
      padding: 25px 80px;

      @media #{$xxs-device} {
        padding: 15px 30px;
      }
    }

    a:not(.btn) {
      color: $black-soft;
      margin-left: 20px;
      vertical-align: middle;

      @media #{$xlmax-device} {
        margin-left: 10px;
      }

      @media #{$xxs-device} {
        display: none;
      }
    }
  }

  .find-store-delivery {
    a {
      @include font-noline(12);
      color: $black-soft;
      vertical-align: middle;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      i {
        @include font-noline(16);
        margin-right: 3px;
        vertical-align: middle;
      }

      &:hover {
        color: $brand-color;
      }
    }
  }

  // Group Product Table
  .group-product-wrap {
    .table {
      padding: 0;
      margin: 0;
      white-space: nowrap;

      tr {
        td {
          padding: 10px 15px;
          vertical-align: middle;
          width: 20%;

          &.product-quantity {
            .pro-qty {
              height: 55px;
              margin-right: 0;
              margin-bottom: 0;
              width: 100px;
            }
          }

          &.product-list {
            width: 60%;
            a {
              color: $black-soft;
              &:hover {
                color: $brand-color;
              }
            }
          }
        }
      }
    }
  }

  //Configurable Content Style
  .configurable-item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    .configurable-name {
      font-weight: 500;
      text-transform: uppercase;
      @include font-noline(11);
      margin-bottom: 8px;

      b {
        text-transform: capitalize;
        margin-left: 5px;
        @include font-noline(13);
      }
    }
    .configurable-list {
      li {
        border: 1px solid #D4D4D4;
        cursor: pointer;
        color: #8d8d8d;
        height: 40px;
        padding: 3px;
        @include font-noline(13);
        display: block;
        text-align: center;
        @include transition(0.3s);
        margin-right: 5px;
        overflow: hidden;
        width: 40px;

        &.active, &:hover {
          border-color: $brand-color;
          color: $brand-color;
        }

        span {
          line-height: 30px;
          display: block;
        }
      }
    }
  }

}

// Description Review Product
.product-description-review {
  margin-top: 38px;
  .desc-review-tab-menu {
    border-bottom: 0;
    li {
      a {
        color: #8d8d8d;
        @include font-noline(14);
        display: inline-block;
        padding: 15px 30px;

        &.active {
          background-color: #EFEFEF;
          color: $black-soft;
        }
      }
    }
  }

  .tab-content {
    color: #8d8d8d;
    @include font-noline(14);
    line-height: 1.8;
    margin-top: 45px;
  }
}

.product-ratting-wrap {
  .pro-avg-ratting {
    margin-bottom: 20px;
    float: left;
    width: 100%;
    & h4 {
      @include font-noline(18);
      margin: 0 0 7px;
      font-weight: 600;
      & span {
        color: $black;
        @include font-noline(12);
      }
    }
    & > span {
      display: block;
    }
  }

  .ratting-list {
    margin-bottom: 30px;
    float: left;
    width: 100%;
    & .sin-list {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
      & i {
        color: $yellow;
      }
      & span {
        color: #666666;
      }
    }
  }

  .sin-rattings {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
    & .ratting-author {
      float: left;
      width: 100%;
      margin-bottom: 10px;
      & h3 {
        float: left;
        @include font-noline(14);
        font-weight: 600;
        margin: 0;
        line-height: 18px;
        margin-right: 15px;
      }
      & .ratting-star {

        & i, & span {
          color: $yellow;
          @include font-size(13);
          float: left;
        }
        & span {
          margin-left: 5px;
          color: #8d8d8d;
        }
      }
    }
    & p {
      color: #8d8d8d;
      @include font-noline(13);
      line-height: 1.8;
    }
  }

  /*-- Ratting Form Wrap --*/
  .ratting-form-wrapper {
    margin-top: 40px;
    & h3 {
      @include font-size(18);
      margin: 0 0 20px;
      text-transform: capitalize;
    }
  }

  /*-- Ratting Form --*/
  .ratting-form {
    & h5 {
      float: left;
      @include font-noline(14);
      line-height: 18px;
      margin-right: 10px;
      font-weight: 600;
    }
    & .ratting-star {
      & i {
        color: #D4D4D4;
        font-size: 14px;
        float: left;
        line-height: 18px;
        display: block;
        margin-right: 3px;
        cursor: pointer;
        @include transition(0.3s);

        &:hover {
          color: $yellow;
        }

        &:last-child {
          margin: 0;
        }
      }
    }
    & label {
      display: block;
      margin-bottom: 5px;
      font-weight: 400;
      color: $black-soft;
    }
    & input {
      width: 100%;
      background-color: transparent;
      border: 1px solid #dddddd;
      font-size: 13px;
      line-height: 24px;
      padding: 8px 15px;
      color: #666666;
      outline: none;
      @include transition(0.1s);

      &:focus {
        border-color: $brand-color;
      }

    }
    & textarea {
      width: 100%;
      background-color: transparent;
      border: 1px solid #dddddd;
      font-size: 13px;
      line-height: 24px;
      padding: 8px 15px;
      color: #666666;
      height: 100px;
      outline: none;
      resize: none;
      @include transition(0.1s);
      &:focus {
        border-color: $brand-color;
      }
    }

    .btn {
      padding: 15px 40px;
    }
  }
}

.single-product-footer {
  border-top: 1px solid #e7e7e7;
  @include font-noline(12);
  margin-top: 46px;
  padding-top: 46px;

  @media #{$xs-device} {
    padding-top: 26px;
    margin-top: 26px;
  }

  a {
    color: $black-soft;
    @include transition(0.2s);

    &:hover {
      color: $brand-color;
      text-decoration: underline;
    }
  }

  .prod-footer-list {
    margin-bottom: 5px;
    li {
      display: inline-block;
      position: relative;
      &:last-child {
        &:after {
          display: none;
        }
      }
      &:after {
        content: ', ';
      }
      &.list-name {
        margin-right: 5px;
        &:after {
          display: none;
        }
      }
    }
  }

  .social-share {
    margin-bottom: 0;
    dt {
      font-weight: 400;
      margin-bottom: 5px;
    }
    dd {
      display: inline-block;
      margin-right: 15px;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}