/*===============================
Start Instagram Feed Area
================================*/
.instagram-feed-area {
  .instagram-content-header {
    margin-bottom: 28px;
    h3 {
      @include font-noline(18);
      line-height: 1;
      font-weight: 400;
      margin-bottom: 0;
      span {
        color: $brand-color;
      }
    }
  }

  .instagram-item {
    position: relative;
    z-index: 1;
    &:before {
      background-color: rgba($black, 0.4);
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      @include transition(0.3s);
      @include opacity(0);
      visibility: hidden;
      pointer-events: none;
      height: 100%;
      width: 100%;
    }

    .instagram-hvr-content {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transition(0.3s);
      @include opacity(0);
      visibility: hidden;
      @include translate(-50%, -50%);
      z-index: 1;
      span {
        color: $white;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
        i.fa {
          margin-right: 5px;
        }
      }
    }

    &:hover {
      &:before {
        @include opacity(1);
        visibility: visible;
      }
      .instagram-hvr-content {
        @include opacity(1);
        visibility: visible;
      }
    }
  }
}