/*===============================
Start Preloader Wrap
================================*/
.preloader-active {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  overflow: hidden;
  .preloader-area-wrap {
    background-color: $white;
    position: absolute;
    left: 0;
    display: block;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999999;

    .spinner {
      div {
        background-color: $brand-color;
        @include border-radius(50%);
        width: 20px;
        height: 20px;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;

        &.bounce1 {
          -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
        }

        &.bounce2 {
          -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
        }
      }
    }

    @-webkit-keyframes sk-bouncedelay {
      0%, 80%, 100% {
        -webkit-transform: scale(0)
      }
      40% {
        -webkit-transform: scale(1.0)
      }
    }

    @keyframes sk-bouncedelay {
      0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
      }
    }
  }
}

.preloader-area-wrap {
  display: none;
}