﻿@model CosmeticEshop.ViewModels.HomePageViewModel
@using CosmeticEshop.Models.Menu;
@{
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">

    <title>@Model.ShopContact.Name</title>

    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">


    <!--=== Revolution Slider CSS ===-->
    <link href="css/revslider/settings.css" rel="stylesheet">

    <!--=== Bootstrap CSS ===-->
    <link href="css/vendor/bootstrap.min.css" rel="stylesheet">
    <!--=== Font-Awesome CSS ===-->
    <link href="css/vendor/font-awesome.css" rel="stylesheet">
    <!--=== Dl Icon CSS ===-->
    <link href="css/vendor/dl-icon.css" rel="stylesheet">
    <!--=== Plugins CSS ===-->
    <link href="css/plugins.css" rel="stylesheet">
    <!--=== Helper CSS ===-->
    <link href="css/helper.min.css" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="css/style.min.css" rel="stylesheet">
    <!--=== Custom Style CSS ===-->
    <link href="css/site.css" rel="stylesheet" asp-append-version="true">

    <!-- Modernizer JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- Sweet alert CSS -->
    <link href="~/limonte-sweetalert2/sweetalert2.min.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="preloader-active">
    <!--== Start PreLoader Wrap ==-->
    <div class="preloader-area-wrap">
        <div class="spinner d-flex justify-content-center align-items-center h-100">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!--== End PreLoader Wrap ==-->
    <!-- Start Header Sale Discount Bar -->
    @*<div class="header-discount-bar alert fade show">
        <div class="container">
        <div class="row">
        <div class="col-lg-12 text-center">
        <div class="discount-bar-content">
        <p>Huge Sale Discount Weekend Up 70% ! <a href="shop.html">Shop Now</a></p>
        </div>

        <div class="close-button-wrap">
        <button type="button" class="close" data-dismiss="alert"> &times; </button>
        </div>
        </div>
        </div>
        </div>
        </div>*@
    <!-- End Header Sale Discount Bar -->
    <!--== Start Header Area ===-->
    <header id="header-area" class="header-two">
        <div class="header-bottom-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <!-- Start Logo Area -->
                        <div class="logo-area pt-36 pb-30 pb-sm-0 pb-md-0">
                            <a href="/"><img src="img/logo.svg" alt="@Model.ShopContact.Name - Logo" /></a>
                        </div>
                        <!-- End Logo Area -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-content-wrapper d-flex align-items-center">
                            <div class="header-left-area">
                                <!-- Start Menu Icon -->
                                <div class="menu-icon-wrap">
                                    @*<button class="menu-icon-bar modalActive" data-mfp-src="#left-offside-popup"><i class="dl-icon-menu1"></i></button>*@
                                </div>
                                <!-- End Menu Icon -->
                            </div>

                            <div class="header-mainmenu-area d-none d-lg-block">
                                <!-- Start Main Menu -->
                                <nav id="mainmenu-wrap">
                                    <ul class="nav mainmenu justify-content-center">
                                        @{
                                            CreateMenu(Model.Menus);
                                        }
                                    </ul>
                                </nav>
                                <!-- End Main Menu -->
                            </div>

                            <div class="header-right-area d-flex justify-content-end align-items-center">
                                <button class="search-icon animate-modal-popup" data-mfp-src="#search-box-popup">
                                    <i class="dl-icon-search1"></i>
                                </button>
                                <button class="mini-cart-icon modalActive" data-mfp-src="#miniCart-popup">
                                    <i class="dl-icon-cart1"></i>
                                    <span class="cart-count">@Model.Basket.Items.Count</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--== End Header Area ===-->
    <!--== Start Slider Area ==-->
    <div class="slider-area-wrapper">
        <div id="rev_slider_10_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="home-09"
             data-source="gallery">
            <!-- START REVOLUTION SLIDER 5.4.7 auto mode -->
            <div id="rev_slider_home_9" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7">
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-25" data-transition="random-premium" data-slotamount="default" data-hideafterloop="0"
                        data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                        data-masterspeed="default">
                        <!-- MAIN IMAGE -->
                        <img src="img/rev-slider/transparent.png" data-bgcolor='#ffeadc' style='background:#ffeadc'
                             alt=""
                             data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                             data-bgparallax="off" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption     rev_group" id="slide-25-layer-4"
                             data-x="['right','right','right','center']" data-hoffset="['281','29','32','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-18','-82','-59','-124']"
                             data-width="['687','687','510','408']" data-height="['269','269','239','222']"
                             data-whitespace="nowrap" data-type="group" data-responsive_offset="on"
                             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
                             data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 6; min-width: 687px; max-width: 687px; max-width: 269px; max-width: 269px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption   tp-resizeme" id="slide-25-layer-5"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
                                 data-fontsize="['48','48','36','30']" data-lineheight="['64','64','50','40']"
                                 data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":"+690","speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                 data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
                                 data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
                                 data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 7; white-space: nowrap; font-size: 48px; line-height: 64px; font-weight: 400; color: #262626; letter-spacing: 0px;font-family:Playfair Display;">
                                Dress with Contrasting Belt
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption   tp-resizeme" id="slide-25-layer-6"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','-2']"
                                 data-y="['top','top','top','top']" data-voffset="['72','72','56','44']" data-width="none"
                                 data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                 data-frames='[{"delay":"+1090","speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                 data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
                                 data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
                                 data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 8; white-space: nowrap; font-size: 12px; line-height: 20px; font-weight: 400; color: #262626; letter-spacing: 0px;font-family:Poppins;">
                                COLOR: Nude pink
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption   tp-resizeme" id="slide-25-layer-7"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['top','top','top','top']" data-voffset="['119','119','99','85']"
                                 data-fontsize="['36','36','30','26']" data-lineheight="['50','50','40','30']"
                                 data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":"+1520","speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                 data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
                                 data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
                                 data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 9; white-space: nowrap; font-size: 36px; line-height: 50px; font-weight: 300; color: #262626; letter-spacing: 0px;font-family:Poppins;">
                                $89.99
                            </div>

                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption LA-BTN-OUTLINE-Black rev-btn " id="slide-25-layer-8"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['top','top','top','top']" data-voffset="['203','203','177','144']"
                                 data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
                                 data-responsive_offset="on" data-responsive="off"
                                 data-frames='[{"delay":"+2230","speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(38,38,38);bw:2 2 2 2;"}]'
                                 data-margintop="[,,,]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
                                 data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
                                 data-paddingtop="[15,15,15,15]" data-paddingright="[45,45,45,45]"
                                 data-paddingbottom="[15,15,15,15]" data-paddingleft="[45,45,45,45]"
                                 style="z-index: 10; white-space: nowrap; border-color:rgb(38,38,38);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                                Shop Now
                            </div>
                        </div>

                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption   tp-resizeme" id="slide-25-layer-1" data-x="['left','left','left','left']"
                             data-hoffset="['310','66','2','2']" data-y="['bottom','bottom','bottom','bottom']"
                             data-voffset="['0','-2','-4','-4']" data-width="none" data-height="none"
                             data-whitespace="nowrap" data-type="image" data-responsive_offset="on"
                             data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                             style="z-index: 5;">
                            <img src="img/rev-slider/home9/m9-s1.png" alt=""
                                 data-ww="['350px','350px','350px','233px']"
                                 data-hh="['678px','678px','678px','452px']" data-no-retina>
                        </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-26" data-transition="random-premium" data-slotamount="default" data-hideafterloop="0"
                        data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                        data-masterspeed="default">
                        <!-- MAIN IMAGE -->
                        <img src="img/rev-slider/transparent.png" data-bgcolor='#e3e8ef' style='background:#e3e8ef'
                             alt=""
                             data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                             data-bgparallax="off" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption     rev_group" id="slide-26-layer-4"
                             data-x="['right','right','right','center']" data-hoffset="['281','39','16','50']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-18','-31','-26','-87']"
                             data-width="['687','574','445','367']" data-height="['269','279','250','205']"
                             data-whitespace="nowrap" data-type="group" data-responsive_offset="on"
                             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
                             data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 6; min-width: 687px; max-width: 687px; max-width: 269px; max-width: 269px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
                            <!-- LAYER NR. 8 -->
                            <div class="tp-caption   tp-resizeme" id="slide-26-layer-5"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
                                 data-fontsize="['48','48','36','30']" data-lineheight="['64','64','50','40']"
                                 data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":"+690","speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                 data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
                                 data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
                                 data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 7; white-space: nowrap; font-size: 48px; line-height: 64px; font-weight: 400; color: #262626; letter-spacing: 0px;font-family:Playfair Display;">
                                Slim-fit suit gilet
                            </div>

                            <!-- LAYER NR. 9 -->
                            <div class="tp-caption   tp-resizeme" id="slide-26-layer-6"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','-2']"
                                 data-y="['top','top','top','top']" data-voffset="['72','72','56','44']" data-width="none"
                                 data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                 data-frames='[{"delay":"+1090","speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                 data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
                                 data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
                                 data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 8; white-space: nowrap; font-size: 12px; line-height: 20px; font-weight: 400; color: #262626; letter-spacing: 0px;font-family:Poppins;">
                                COLOR: Nude pink
                            </div>

                            <!-- LAYER NR. 10 -->
                            <div class="tp-caption   tp-resizeme" id="slide-26-layer-7"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['top','top','top','top']" data-voffset="['119','119','99','85']"
                                 data-fontsize="['36','36','30','26']" data-lineheight="['50','50','40','30']"
                                 data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":"+1520","speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                 data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
                                 data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
                                 data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 9; white-space: nowrap; font-size: 36px; line-height: 50px; font-weight: 300; color: #262626; letter-spacing: 0px;font-family:Poppins;">
                                $89.99
                            </div>

                            <!-- LAYER NR. 11 -->
                            <div class="tp-caption LA-BTN-OUTLINE-Black rev-btn " id="slide-26-layer-8"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['top','top','top','top']" data-voffset="['203','203','177','144']"
                                 data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
                                 data-responsive_offset="on" data-responsive="off"
                                 data-frames='[{"delay":"+2230","speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(38,38,38);bw:2 2 2 2;"}]'
                                 data-margintop="[,,,]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
                                 data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
                                 data-paddingtop="[15,15,15,15]" data-paddingright="[45,45,45,45]"
                                 data-paddingbottom="[15,15,15,15]" data-paddingleft="[45,45,45,45]"
                                 style="z-index: 10; white-space: nowrap; border-color:rgb(38,38,38);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                                Shop Now
                            </div>
                        </div>

                        <!-- LAYER NR. 12 -->
                        <div class="tp-caption   tp-resizeme" id="slide-26-layer-1" data-x="['left','left','left','left']"
                             data-hoffset="['270','29','2','1']" data-y="['bottom','bottom','bottom','bottom']"
                             data-voffset="['0','-17','0','-4']" data-width="none" data-height="none"
                             data-whitespace="nowrap" data-type="image" data-responsive_offset="on"
                             data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                             style="z-index: 5;">
                            <img src="img/rev-slider/home9/new-m9-s2-1.png" alt=""
                                 data-ww="['380px','350px','378px','230px']"
                                 data-hh="['690px','635px','685px','417px']" data-no-retina>
                        </div>
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
        </div>
    </div>
    <!--== End Slider Area ==-->
    <!--== Start Call to Action Area  ==-->
    <div class="call-to-action-wrapper layout-two">
        <div class="container">
            <div class="call-action-content-wrapper">
                <div class="row">
                    <!-- Start Single Call to Action Item -->
                    <div class="col-lg-4 col-sm-6">
                        <div class="single-call-to-action-wrap d-flex">
                            <div class="action-icon">
                                <img src="img/icons/home8/free-shipping.png" alt="Free Shipping" />
                            </div>
                            <div class="action-info">
                                <h2>Free shipping Worldwide</h2>
                                <p>Lorem Ipsum Is Simply Dummy <br> Text Lorem Ipsum.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Call to Action Item -->
                    <!-- Start Single Call to Action Item -->
                    <div class="col-lg-4 col-sm-6">
                        <div class="single-call-to-action-wrap d-flex">
                            <div class="action-icon">
                                <img src="img/icons/home8/support.png" alt="Free Shipping" />
                            </div>
                            <div class="action-info">
                                <h2>24/7 Support Center</h2>
                                <p>Lorem Ipsum Is Simply Dummy <br> Text Lorem Ipsum.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Call to Action Item -->
                    <!-- Start Single Call to Action Item -->
                    <div class="col-lg-4 col-sm-6">
                        <div class="single-call-to-action-wrap d-flex">
                            <div class="action-icon">
                                <img src="img/icons/home8/money-back.png" alt="Free Shipping" />
                            </div>
                            <div class="action-info">
                                <h2>Money Back Guarantee</h2>
                                <p>Lorem Ipsum Is Simply Dummy <br> Text Lorem Ipsum.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Call to Action Item -->
                </div>
            </div>
        </div>
    </div>
    <!--== End Call to Action Area  ==-->
    @foreach (var category in Model.Categories)
    {
        <!-- Start Sale Off Products Area -->
        <section id="saleOff-area-wrapper" class="pt-88 pt-md-58 pt-sm-48">
            <div class="container-fluid">
                <div class="row">
                    <!-- Start Section title -->
                    <div class="col-lg-8 m-auto text-center">
                        <div class="section-title-wrap style-three">
                            <h2>@category.CatagoryName</h2>
                        </div>
                    </div>
                    <!-- End Section title -->
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="products-wrapper">
                            <div class="product-carousel-wrap">
                                @foreach (var product in category.Products)
                                {
                                    @await Html.PartialAsync("_ProductCartView", product)
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Sale Off Products Area -->
    }
    <!--== Start Testimonial Area ==-->
    <div class="testimonial-area-wrapper mt-90 mt-md-60 mt-sm-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-11 col-xl-9 m-auto text-center">
                    <div class="testimonial-content-wrapper">
                        @foreach (var testimonial in Model.Testimonials)
                        {
                            <!-- Start Single Testimonial Item -->
                            <div class="single-testimonial-wrap">
                                <p class="quote">@testimonial.Quote</p>
                                <h3 class="client-name">@testimonial.Name <span class="client-type">@testimonial.Type</span></h3>
                            </div>
                            <!-- End Single Testimonial Item -->
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Testimonial Area ==-->
    <!--== Start Latest Blog Area ==-->
    <section id="latest-blog-wrapper" class="pt-88 pt-md-58 pt-sm-50">
        <div class="container">
            <div class="row">
                <!-- Start Section title -->
                <div class="col-lg-8 m-auto text-center">
                    <div class="section-title-wrap style-two">
                        <h2>Bài đăng mới nhất</h2>
                        <p>Câu chuyện làm đẹp</p>
                    </div>
                </div>
                <!-- End Section title -->
            </div>

            <!-- Blog Content Wrapper -->
            <div class="blog-content-wrap">
                <div class="row">
                    @foreach (var blog in Model.LastestBlogs)
                    {
                        @await Html.PartialAsync("_BlogCartView", blog)
                    }
                </div>
            </div>
        </div>
    </section>
    <!--== End Latest Blog Area ==-->
    <!--== Start Footer Section ===-->
    <footer id="footer-area">
        <!-- Start Footer Widget Area -->
        <div class="footer-widget-area pt-40 pb-28">
            <div class="container">
                <div class="footer-widget-content">
                    <div class="row">
                        <!-- Start Footer Widget Item -->
                        <div class="col-md-12 col-lg-3">
                            <div class="footer-widget-item-wrap">
                                <div class="widget-body">
                                    <div class="about-text pt-38 pt-sm-0 pt-md-0">
                                        <a href="index.html"><img src="img/logo.svg" alt="Logo" /></a>
                                        <p>
                                            Pellentesque mollis nec orci id tincidunt. Sed mollis risus eu nisi aliquet, sit
                                            amet fermentum justo dapibus.
                                        </p>
                                        <p class="d-none d-md-block d-lg-none">
                                            Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit. Animi asperiores aspernatur consectetur distinctio eius enim
                                            eum fuga incidunt maiores molestias nihil, odio reiciendis sed. Architecto iure
                                            nihil tempora veniam voluptate!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Footer Widget Item -->
                        <!-- Start Footer Widget Item -->
                        <div class="col-sm-4 col-lg-3">
                            <div class="footer-widget-item-wrap">
                                <h3 class="widget-title">Sản phẩm</h3>
                                <div class="widget-body">
                                    <ul class="footer-list">
                                        <li><a href="/haracell">Haracell</a></li>
                                        <li><a href="/cosmetic">Mỹ phẩm</a></li>
                                        <li><a href="/functional-foods">Thực phẩm chức năng</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Footer Widget Item -->
                        <!-- Start Footer Widget Item -->
                        <div class="col-sm-4 col-lg-3">
                            <div class="footer-widget-item-wrap">
                                <h3 class="widget-title">Dịch vụ</h3>
                                <div class="widget-body">
                                    <ul class="footer-list">
                                        <li><a href="/service/spa">Spa</a></li>
                                        <li><a href="/service/hair">Tóc</a></li>
                                        <li><a href="/service/commerce">Thương mại</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Footer Widget Item -->
                        <!-- Start Footer Widget Item -->
                        <div class="col-sm-4 col-lg-3">
                            <div class="footer-widget-item-wrap">
                                <h3 class="widget-title">Contact Us</h3>
                                <div class="widget-body">
                                    <div class="contact-text">
                                        <a href="tel:@(Model.ShopContact.PhoneNumber)">@Model.ShopContact.PhoneNumber</a>
                                        <a href="mailto:@(Model.ShopContact.Email)">@Model.ShopContact.Email</a>
                                        <p>@Model.ShopContact.Address</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Footer Widget Item -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Widget Area -->
        <!-- Start Footer Bottom Area -->
        <div class="footer-bottom-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-6 m-auto order-1">
                        <div class="footer-social-icons nav justify-content-center justify-content-sm-start mb-xs-10">
                            <a href="@Model.ShopContact.FacebookUrl" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="@Model.ShopContact.InstagramUrl" target="_blank"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>


                    <div class="col-sm-6 col-lg-6 m-auto order-2 text-center text-md-right">
                        <div class="copyright-text mt-xs-10 ">
                            <p>
                                ©@DateTime.Now.Year
                                , @Model.ShopContact.Name. Made with <i class="fa fa-heart text-danger"></i> by <a href="mailto:tanluutrong2206@gmail.com" target="_blank">Cá Kiếm Team</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom Area -->
    </footer>
    <!--== End Footer Section ===-->
    <!--== Start Search box Wrapper ==-->
    <div class="modalSearchBox" id="search-box-popup">
        <div class="modaloverlay"></div>
        <div class="search-box-wrapper">
            <p>Start typing and press Enter to search</p>
            <div class="search-box-form">
                <form action="#" method="POST" class="search-form-area">
                    <input type="search" name="search" id="search" placeholder="Search entire store" />
                    <button type="submit" class="btn-search"><i class="dl-icon-search10"></i></button>
                </form>
            </div>
        </div>
    </div>
    <!--== End Search box Wrapper ==-->
    <div id="mini-cart-view">
        @{
            @await Html.PartialAsync("_MiniCartView", Model.Basket);
        }
    </div>

    <!--=======================Javascript============================-->
    <!--=== Jquery Min Js ===-->
    <script src="js/vendor/jquery-3.3.1.min.js"></script>
    <!--=== Jquery Migrate Min Js ===-->
    <script src="js/vendor/jquery-migrate-1.4.1.min.js"></script>
    <!--=== Popper Min Js ===-->
    <script src="js/vendor/popper.min.js"></script>
    <!--=== Bootstrap Min Js ===-->
    <script src="js/vendor/bootstrap.min.js"></script>
    <!--=== Plugins Js ===-->
    <script src="js/plugins.js"></script>
    <!--=== Ajax Mail Js ===-->
    <script src="js/ajax-mail.js"></script>

    <!--=== Active Js ===-->
    <script src="js/active.min.js"></script>

    <!--=== Revolution Slider Js ===-->
    <script src="js/revslider/jquery.themepunch.tools.min.js"></script>
    <script src="js/revslider/jquery.themepunch.revolution.min.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="js/revslider/extensions/revolution.extension.actions.min.js"></script>
    <script src="js/revslider/extensions/revolution.extension.carousel.min.js"></script>
    <script src="js/revslider/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="js/revslider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="js/revslider/extensions/revolution.extension.migration.min.js"></script>
    <script src="js/revslider/extensions/revolution.extension.navigation.min.js"></script>
    <script src="js/revslider/extensions/revolution.extension.parallax.min.js"></script>
    <script src="js/revslider/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="js/revslider/extensions/revolution.extension.video.min.js"></script>


    <!-- Add signal R -->
    <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>

    <!-- Sweet alert 2 -->
    <script src="~/limonte-sweetalert2/sweetalert2.min.js"></script>

    <!-- Notify js -->
    <script src="~/js/notify.min.js"></script>

    <script src="js/revslider/revslider-active.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/basket.js" asp-append-version="true"></script>
</body>
</html>


@* Function area *@
@functions
{
    void CreateMenu(IEnumerable<MenuModel> menus)
    {
        foreach (var menu in menus.Where(x => string.IsNullOrEmpty(x.ParentId)).OrderBy(x => x.Order))
        {
            CreateMenu(menu, menus);
        }
    }

    void CreateMenu(MenuModel currentMenu, IEnumerable<MenuModel> menus)
    {
        var hasChild = menus.Any(x => x.ParentId == currentMenu.Id);
        <li class="@(hasChild ? "dropdown-show" : string.Empty)">
            <a href="@currentMenu.Url">@currentMenu.Name</a>
            @if (hasChild)
            {
                <ul class="dropdown-nav">
                    @foreach (var subMenu in menus.Where(x => x.ParentId == currentMenu.Id).OrderBy(x => x.Order))
                    {
                        CreateMenu(subMenu, menus);
                    }
                </ul>
            }

        </li>
    }
}