/*==============================
Start Footer Section
============================*/
.footer-widget-content {
  margin-top: -30px;
}

.footer-widget-item-wrap {
  margin-top: 30px;
  .widget-title {
    @include font-noline(14);
    line-height: 1;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 24px;
  }

  .widget-body {
    color: #8d8d8d;
    @include font-size(12);
    a {
      color: #8d8d8d;
      display: block;
      &:hover {
        color: $black-soft;
      }
    }

    .contact-text {
      p {
        margin-bottom: 0;
      }
      a {
        margin-bottom: 5px;
      }
    }

    .about-text {
      a {
        margin-bottom: 18px;
      }
      p {
        margin-bottom: 0;
        line-height: 22px;
      }
    }
  }

}

// Footer Bottom Wrapper
.footer-bottom-wrapper {
  border-top: 1px solid $border-color;
  padding: 15px 0;
  .copyright-text {
    @include font-noline(11);
    color: #616161;
    * {
      margin-bottom: 0;
    }
    a {
      color: $black-soft !important;
    }
  }
}

// Newsletter Form
.newsletter-area {
  form {
    position: relative;
    input[type="email"] {
      border: none;
      border-bottom: 1px solid $border-color;
      padding: 5px 70px 5px 0;
      display: block;
      outline: none;
      @include box-shadow(none);
      @include font-noline(14);
      width: 100%;
    }

    button.btn {
      background-color: transparent;
      padding: 0;
      margin: 0;
      @include font-noline(12);
      line-height: 1;
      font-weight: 600;
      position: absolute;
      right: 0;
      top: 50%;
      @include translate(0, -50%);

      &:hover {
        color: $brand-color;
      }
    }
  }

  .mailchimp-alerts {
    color: $brand-color;
  }
}

// Footer Menu
.footer-menu {
  li {
    margin-right: 20px;
    line-height: 0;
    &:last-child {
      margin-right: 0;
    }
    a {
      @include font-noline(11);
      line-height: 1;
      color: $black-soft;
      text-transform: capitalize;

      &:hover {
        color: $brand-color;
      }
    }
  }
}

// Footer Social Icons
.footer-social-icons {
  a {
    color: $black-soft !important;
    @include font-noline(14);
    line-height: 1;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

// Footer List Style
.footer-list {
  li {
    margin-bottom: 10px;
    text-transform: capitalize;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Footer Area Three Style
#footer-area {
  &.footer-three {
    background-color: $black-soft;
    color: $white;

    .about-text {
      margin-top: 0;
      color: #8d8d8d;
      @media #{$xs-device} {
        @include font-noline(12);
      }
    }

    .footer-menu {
      li {
        a {
          @include font-noline(18);
          color: $white;
          margin-right: 15px;
          @media #{$xs-device} {
            @include font-noline(11);
            margin-right: 0;
          }
          &:hover {
            color: #8d8d8d;
          }
        }
        &:last-child {
          a {
            margin-right: 0;
          }
        }
      }
    }

    .footer-bottom-wrapper {
      border: none;
      .copyright-text {
        color: #8d8d8d;
        a {
          color: #8d8d8d !important;
        }
      }
      .footer-social-icons {
        a {
          color: $white !important;
          &:hover {
            color: $brand-color !important;
          }
        }
      }
    }
  }
}

// Footer Area Four Style
.footer-four {
  .footer-menu {
    li {
      a {
        font-weight: 700;
        color: $black;
        @include font-noline(12);

        &:hover {
          color: $brand-color;
        }
      }
    }
  }
  .footer-bottom-wrapper {
    border-top: 0 solid transparent;
  }

  @media #{$sm-device} {
    .footer-widget-content {
      margin-top: -15px;
      .footer-widget-item-wrap {
        margin-top: 15px;
      }
    }
  }
}