﻿.header-right-area button.search-icon {
    margin: 0 25px;
}

.min-w-400 {
    min-width: 400px;
}

.min-h-400 {
    min-height: 400px;
}

main {
/*
    263: height of footer
    86: height of header
*/
    /*height: calc(100vh - 263px - 86px);*/
}

.pagination li a.disabled {
    cursor: not-allowed;
}

.search-blog input {
    border: 1px solid #e7e7e7;
    outline: 0;
    padding: 16px 20px;
    max-width: 500px;
    width: 100%;
}
.search-product input {
    border: 1px solid #e7e7e7;
    outline: 0;
    padding: 16px 20px;
    width: 100%;
}

.search-product button {
    padding: 16px 30px;
    /*margin-left: 20px;*/
}

.search-blog button {
    padding: 16px 30px;
    /*margin-left: 20px;*/
}