﻿@model CosmeticEshop.Models.Contact.MessageContactModel;
@using CosmeticEshop.Models.Contact;
@{
    ViewData["Title"] = "Liên hệ với chúng tôi";
    ViewData["Header"] = new List<Header>
    {
        new Header
        {
            Controller = "Home",
            Text = "Trang chủ",
            Current = false
        },
        new Header
        {
            Controller = "Contact",
            Text = "Liên hệ",
            Current = true
        }
    };
    var shopContact = ViewBag.shopContact as ContactInformationModel;

    ViewBag.shopContact = shopContact;
}

<!--== Start Contact Page Wrapper ==-->
<div id="contact-page-wrapper" class="pt-90 pt-md-60 pt-sm-50 pb-50 pb-md-20 pb-sm-10">
    <div class="contact-page-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6">
                    <div class="contact-page-form-wrap contact-method">
                        <h3>Để lại lời nhắn</h3>

                        <div class="contact-form-wrap">
                            <form asp-action="PostMessage" method="post" asp-controller="Contact">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="single-input-item form-group">
                                    <input asp-for="Name" placeholder="Tên của bạn" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="single-input-item form-group">
                                    <input asp-for="Email" placeholder="Email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="single-input-item form-group">
                                    <input asp-for="PhoneNumber" placeholder="Số điện thoại" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="single-input-item form-group">
                                    <textarea asp-for="Message" cols="30" rows="7" placeholder="Lời nhắn"></textarea>
                                    <span asp-validation-for="Message" class="text-danger"></span>
                                </div>

                                <button type="submit" class="btn btn-black">Gửi</button>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-6 mt-sm-50">
                    <div class="contact-info-wrapper contact-method">
                        <h3>Thông tin liên hệ</h3>

                        <div class="contact-info-content">
                            <div class="single-contact-info">
                                <h4>Địa chỉ</h4>
                                <p>@shopContact.Address</p>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="single-contact-info">
                                        <h4>Số điện thoại</h4>
                                        <p>@shopContact.PhoneNumber</p>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="single-contact-info mb-0">
                                        <h4>Email</h4>
                                        <p>@shopContact.Email</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Contact Page Wrapper ==-->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}