﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Gửi tin nhắn thành công";
    ViewData["Header"] = new List<Header>
    {
        new Header
        {
            Controller = "Home",
            Text = "Trang chủ",
            Current = false
        },
        new Header
        {
            Controller = "Contact",
            Text = "Liên hệ",
            Current = false
        },
        new Header
        {
            Controller = "",
            Text = "Gửi tin nhắn",
            Current = true
        }
    };
}

<style>
    h2 {
        font-size: 6rem;
        line-height: 1;
        font-weight: 300;
        margin-bottom: 25px;
    }
</style>
<div class="pt-90 pt-md-60 pt-sm-50 pb-50 pb-md-20 pb-sm-10">
        <div class="col-lg-12 my-auto text-center min-h-400">
            <h2>Cảm ơn bạn đã để lại lời nhắn.</h2>

            <p class="col-md-8 col-lg-6 m-auto">
                Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất!
            </p>
        </div>
</div>