﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CosmeticEshop.Models.Product.ProductDetailModel
@{

}

<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="dl-icon-close"></i></span>
        </button>
        <div class="modal-body">
            <div class="row">
                <!-- Start Single Product Thumbnail -->
                <div class="col-lg-5 col-md-6">
                    <div class="single-product-thumb-wrap p-0 pb-sm-30 pb-md-30">
                        <!-- Product Thumbnail Large View -->
                        <div class="quciview-product-thumb-carousel">
                            @foreach (var carousel in Model.CarouselImagePaths)
                            {
                                <figure class="product-thumb-item">
                                    <img src="@carousel" alt="@Model.Name" />
                                </figure>
                            }
                        </div>
                    </div>
                </div>
                <!-- End Single Product Thumbnail -->
                <!-- Start Single Product Content -->
                <div class="col-lg-7 col-md-6 m-auto">
                    <div class="single-product-content-wrapper">
                        <div class="single-product-details">
                            <h2 class="product-name">@Model.Name</h2>
                            <p class="product-desc">@Model.Summary</p>

                            @{
                                var phone = SessionExtensions.GetContactPhone(Context);
                                <a href="tel:@phone" class="btn btn-black">Liên hệ</a>
                            }
                        </div>

                        <div class="single-product-footer mt-20 pt-20">
                            <div class="prod-footer-right">
                                @await Html.PartialAsync("_ShareProductSocial", Model)
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Product Content -->
            </div>
        </div>
    </div>
</div>
