﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CosmeticEshop.Models.Blogs.BlogDetailModel
@{
    ViewData["Title"] = Model.Name;
    ViewData["Header"] = new List<Header>
{
        new Header
        {
            Controller = "Home",
            Text = "Trang chủ",
            Current = false
        },
        new Header
        {
            Controller = "Blog",
            Text = "Tin tức",
            Current = false
        },
        new Header
        {
            Controller = "Blog",
            Text = Model.Name,
            Current = true
        }
    };

    var relatedBlogs = ViewBag.RelatedBlogs as IEnumerable<CosmeticEshop.Models.Blogs.BlogCardModel>;
}

<!--== Start Single Blog Page Wrapper ==-->
<div id="single-blog-page-wrapper" class="pt-90 pt-md-60 pt-sm-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <article class="single-blog-content">

                    <div class="blog-meta mb-0">
                        <a href="#" class="author">@Model.Author</a>
                        <span> - </span>
                        <a href="#" class="date">@Model.CreatedDate.ToString("MMM dd, yyyy")</a>
                    </div>

                    <h2>@Model.Name</h2>

                    <p>
                        @Html.Raw(Model.Description)
                    </p>
                </article>

            </div>
        </div>
    </div>
</div>
<!--== End Single Blog Page Wrapper ==-->
<!--== Start Related Post Area ==-->
<section id="latest-blog-wrapper" class="pt-92 pt-md-60 pt-sm-50 pb-48 pb-md-20 pb-sm-10">
    <div class="container">
        <div class="row">
            <!-- Start Section title -->
            <div class="col-lg-8 m-auto text-center">
                <div class="section-title-wrap">
                    <h2>Bài viết liên quan</h2>
                </div>
            </div>
            <!-- End Section title -->
        </div>

        <!-- Blog Content Wrapper -->
        <div class="blog-content-wrap">
            <div class="row">
                @foreach (var blog in relatedBlogs)
                {
                    @await Html.PartialAsync("_BlogCartView", blog)
                }
            </div>
        </div>
    </div>
</section>
<!--== End Related Post Area ==-->
