﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CosmeticEshop.Models.Blogs.BlogSearchParams
@{
    ViewData["Title"] = "Tin tức";
    ViewData["Header"] = new List<Header>
{
        new Header
        {
            Controller = "Home",
            Text = "Trang chủ",
            Current = false
        },
        new Header
        {
            Controller = "Blog",
            Text = "Tin tức",
            Current = true
        }
    };

    var blogs = ViewBag.Blogs as CosmeticEshop.Models.Helpers.ReturnListDto<CosmeticEshop.Models.Blogs.BlogCardModel>;
}

<style>
    h2 {
        font-size: 6rem;
        line-height: 1;
        font-weight: 300;
        margin-bottom: 25px;
    }
</style>
<!--== Start Blog Page Wrapper ==-->
<div id="blog-page-wrapper" class="pt-90 pt-md-60 pt-sm-50 pb-48 pb-md-20 pb-sm-10">
    <div class="container">
        <!--== Search Blog ==-->
        <form asp-action="Index" method="get" asp-controller="Blog" id="search-blog-form">
            @Html.HiddenFor(x => x.CurrentPage)
            @Html.HiddenFor(x => x.PageSize)
            <div class="row search-blog">

                <div class="col-md-5">
                    <div class="single-input-item">
                        <input asp-for="Content" placeholder="Tên blog" />
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="single-input-item">
                        <input asp-for="CreatedBy" placeholder="Tác giả" />
                        <span asp-validation-for="CreatedBy" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-black">Tìm kiếm</button>
                </div>

            </div>
        </form>
        <!--== End Search Blog ==-->

        @if (!blogs.Data.Any())
        {
            <div class="pt-90 pt-md-60 pt-sm-50 pb-50 pb-md-20 pb-sm-10">
                <div class="col-lg-12 my-auto text-center">
                    <h2>Không tìm thấy Tin tức nào!</h2>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="blog-page-post-wrap">
                        <div class="row">
                            @foreach (var blog in blogs.Data)
                            {
                                @await Html.PartialAsync("_BlogCartView", blog)
                            }
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Page Pagination Start  -->
                                <div class="page-pagination-wrapper mt-70 mt-md-50 mt-sm-40">
                                    <nav class="page-pagination">
                                        <ul class="pagination justify-content-center">
                                            <li><a href="#" class="@(blogs.CurrentPage <= 1 ? "disabled" : string.Empty)" id="previous-page" onclick="previousPage()"><i class="fa fa-angle-double-left"></i></a></li>
                                            @for (int i = 0; i < blogs.TotalPages; i++)
                                            {
                                                <li><a href="#" onclick="jumpToPage(@(i + 1))" class="@(blogs.CurrentPage == (i + 1) ? "active" : string.Empty)">@(i + 1)</a></li>
                                            }
                                            <li><a href="#" id="next-page" class="@(blogs.CurrentPage >= blogs.TotalPages ? "disabled" : string.Empty)" onclick="nextPage()"><i class="fa fa-angle-double-right"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- Page Pagination End  -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!--== End Blog Page Wrapper ==-->

@section Scripts {
    <script>
    function previousPage() {
        @if (blogs.CurrentPage > 1)
        {
            <text>
        $('#currentPage').val(@(blogs.CurrentPage - 1));
        $('#search-blog-form').submit();
            </text>
        }
    }

    function nextPage() {
        @if (blogs.CurrentPage < blogs.TotalPages - 1)
        {
            <text>
        $('#currentPage').val(@(blogs.CurrentPage + 1));
        $('#search-blog-form').submit();
            </text>
        }
    }

    function jumpToPage(page) {
        $('#currentPage').val(page);
        $('#search-blog-form').submit();
    }
    </script>
}