﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CosmeticEshop.Models.Order.OrderDetailModel
@{
    ViewData["Title"] = "Đặt đơn hàng";
    ViewData["Header"] = new List<Header>
{
        new Header
        {
            Controller = "Home",
            Text = "Trang chủ",
            Current = false
        },
        new Header
        {
            Text = "Đặt đơn hàng",
            Current = true
        }
    };
}

<!--== Start Checkout Page Wrapper ==-->
<div id="checkout-page-wrapper" class="pt-90 pt-md-60 pt-sm-50 pb-50 pb-md-20 pb-sm-10">
    <div class="container">
        <form asp-action="Order" method="post" asp-controller="Basket">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-lg-6">
                    <!-- Checkout Form Area Start -->
                    <div class="checkout-billing-details-wrap">
                        <h2>Thông tin hóa đơn</h2>
                        <div class="billing-form-wrap">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single-input-item">
                                        <label asp-for="BuyerFirstName" class="required" >Tên</label>
                                        <input asp-for="BuyerFirstName" placeholder="Tên" />
                                        <span asp-validation-for="BuyerFirstName" class="text-danger" />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="single-input-item">
                                        <label asp-for="BuyerLastName">Họ và tên đệm</label>
                                        <input asp-for="BuyerLastName" placeholder="Họ và tên đệm" />
                                        <span asp-validation-for="BuyerLastName" class="text-danger" />
                                    </div>
                                </div>
                            </div>

                            <div class="single-input-item">
                                <label asp-for="BuyerEmailAddress" class="required" >Email</label>
                                <input asp-for="BuyerEmailAddress" placeholder="Địa chỉ email" />
                                <span asp-validation-for="BuyerEmailAddress" class="text-danger"></span>
                            </div>

                            <div class="single-input-item">
                                <label asp-for="BuyerAddressLine" class="required">Địa chỉ</label>
                                <input asp-for="BuyerAddressLine" placeholder="Địa chỉ" />
                                <span asp-validation-for="BuyerAddressLine" class="text-danger"></span>
                            </div>

                            <div class="single-input-item">
                                <label asp-for="BuyerState" class="required">Tỉnh/Thành phố</label>
                                <input asp-for="BuyerState" placeholder="Tỉnh/Thành phố" />
                                <span asp-validation-for="BuyerState" class="text-danger"></span>
                            </div>

                            <div class="single-input-item">
                                <label asp-for="BuyerPhoneNumber" class="required">Số điện thoại</label>
                                <input asp-for="BuyerPhoneNumber" placeholder="Số điện thoại" />
                                <span asp-validation-for="BuyerPhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="checkout-box-wrap">
                                <div class="single-input-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" asp-for="ShippingDifferentAddress" id="ship_to_different" class="custom-control-input" />
                                        <label asp-for="ShippingDifferentAddress" for="ship_to_different" class="custom-control-label">Giao hàng tới địa chỉ khác?</label>
                                    </div>
                                </div>
                                <div class="ship-to-different single-form-row">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="single-input-item">
                                                <label asp-for="ReceiverFirstName" class="required">Tên</label>
                                                <input asp-for="ReceiverFirstName" placeholder="Tên" />
                                                <span asp-validation-for="ReceiverFirstName" class="text-danger" />
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="single-input-item">
                                                <label asp-for="ReceiverLastName" >Họ và tên đệm</label>
                                                <input asp-for="ReceiverLastName" placeholder="Họ và tên đệm" />
                                                <span asp-validation-for="ReceiverLastName" class="text-danger" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="single-input-item">
                                        <label asp-for="ReceiverEmailAddress" class="required" >Email</label>
                                        <input asp-for="ReceiverEmailAddress" placeholder="Địa chỉ email" />
                                        <span asp-validation-for="ReceiverEmailAddress" class="text-danger"></span>
                                    </div>

                                    <div class="single-input-item">
                                        <label asp-for="ReceiverAddressLine" class="required">Địa chỉ</label>
                                        <input asp-for="ReceiverAddressLine" placeholder="Địa chỉ" />
                                        <span asp-validation-for="ReceiverAddressLine" class="text-danger"></span>
                                    </div>

                                    <div class="single-input-item">
                                        <label asp-for="ReceiverState" class="required">Thành phố</label>
                                        <input asp-for="ReceiverState" placeholder="Thành phố" />
                                        <span asp-validation-for="ReceiverState" class="text-danger"></span>
                                    </div>

                                    <div class="single-input-item">
                                        <label asp-for="ReceiverPhoneNumber" class="required">Số điện thoại</label>
                                        <input asp-for="ReceiverPhoneNumber" placeholder="Số điện thoại" />
                                        <span asp-validation-for="ReceiverPhoneNumber" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>

                            <div class="single-input-item">
                                <label asp-for="Note">Ghi chú</label>
                                <textarea asp-for="Note" cols="30" rows="3" placeholder="Ghi chú cho đơn hàng. Ví dụ: Yêu cầu đặc biệt khi giao hàng"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-xl-5 ml-auto">
                    <!-- Checkout Page Order Details -->
                    <div class="order-details-area-wrap">
                        <h2>Chi tiết đơn hàng</h2>

                        <div class="order-details-table table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th>Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Items)
                                    {
                                        <tr class="cart-item">
                                            <td><span class="product-title">@item.ProductName</span> <span class="product-quantity">&#215;  @item.Quantity</span></td>
                                            <td>@((item.Price * item.Quantity).ToVNString())</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr class="cart-subtotal">
                                        <th>Tạm tính</th>
                                        <td>@Model.Items.Sum(x => x.Price * x.Quantity).ToVNString()</td>
                                    </tr>
                                    <tr class="shipping">
                                        <th>Giảm giá</th>
                                        <td>@Model.Items.Sum(x => x.Sale * x.Quantity).ToVNString()</td>
                                    </tr>
                                    <tr class="final-total">
                                        <th>Thành tiền</th>
                                        <td><span class="total-amount">@Model.Items.Sum(x => (x.Price - x.Sale) * x.Quantity).ToVNString()</span></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div class="order-details-footer">
                            <p>
                                Dữ liệu cá nhân của bạn sẽ được sử dụng để xử lý đơn đặt hàng, hỗ trợ trải nghiệm của bạn trên toàn bộ trang web này.
                            </p>
                            <div class="custom-control custom-checkbox mt-10">
                                <input asp-for="AcceptPrivacy" required class="custom-control-input" title="Bạn cần đồng ý các điều khoản và thỏa thuận để tiếp tục"/>
                                <label asp-for="AcceptPrivacy" class="custom-control-label">Tôi đồng ý với các điều khoản và điều kiện của trang web</label>
                                <span asp-validation-for="AcceptPrivacy" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-full btn-black mt-26">Đặt hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--== End Checkout Page Wrapper ==-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    $(function () {
        @if (Model.ShippingDifferentAddress) {
            <text>
            $(".ship-to-different").slideToggle("100");
            </text>
        }
    });
</script>
}