﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Giỏ hàng";
    ViewData["Header"] = new List<Header>
{
        new Header
        {
            Controller = "Home",
            Text = "Trang chủ",
            Current = false
        },
        new Header
        {
            Text = "Giỏ hàng",
            Current = true
        }
    };

}


<script src="~/js/angularjs-controller/basketController.js"></script>
<!--== Start Cart Page Wrapper ==-->
<div id="cart-page-wrapper" class="pt-86 pt-md-56 pt-sm-46 pb-50 pb-md-20 pb-sm-10" ng-app="basket-app">
    <div class="container" ng-controller="BasketController as basket">
        <div class="row" ng-if="items.length > 0">
            <div class="col-lg-8">
                <div class="shopping-cart-list-area">
                    <div class="shopping-cart-table table-responsive">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="item in items">
                                    <td class="product-list">
                                        <div class="cart-product-item d-flex align-items-center">
                                            <div class="remove-icon">
                                                <button ng-click="basket.remove(item.productId);"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                            <a ng-href="/product/detail/{{item.productId}}" class="product-thumb">
                                                <img src="{{item.imageFile}}" alt="{{item.productName}}" />
                                            </a>
                                            <a ng-href="/product/detail/{{item.productId}}" class="product-name">{{item.productName}}</a>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-if="item.sale > 0">
                                            <del class="oldPrice">{{item.price}}</del>
                                            <span class="price">{{item.price - item.sale}}</span>
                                        </div>
                                        <div ng-if="item.sale === 0">
                                            <span class="price">{{item.price}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="pro-qty">
                                            <input type="text" class="quantity" ng-model="item.quantity" />
                                            <a ng-click="basket.changeQuantity(item.productId, 1)" class="inc qty-btn">+</a>
                                            <a ng-click="basket.changeQuantity(item.productId, -1)" class="dec qty-btn">-</a>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="price">{{(item.price - item.sale) * item.quantity}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="cart-coupon-update-area d-sm-flex justify-content-between align-items-center">
                        <div class="cart-update-buttons mt-xs-14">
                            <button class="btn-clear-cart" ng-click="basket.removeBasket()">Xóa giỏ hàng</button>
                            <button class="btn-update-cart" ng-click="basket.updateBasket()">Cập nhật giá</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <!-- Cart Calculate Area -->
                <div class="cart-calculate-area mt-sm-30 mt-md-30">
                    <h5 class="cal-title">Tổng cộng</h5>

                    <div class="cart-cal-table table-responsive">
                        <table class="table table-borderless">
                            <tr class="cart-sub-total">
                                <th>Tổng giá trị (1)</th>
                                <td>{{basket.getTotalPrice()}}</td>
                            </tr>
                            <tr class="cart-sub-total">
                                <th>Giảm giá (2)</th>
                                <td>{{basket.getTotalSale()}}</td>
                            </tr>
                            <tr class="order-total">
                                <th>Thành tiền (1 - 2)</th>
                                <td><b>{{basket.getTotalPrice() - basket.getTotalSale()}}</b></td>
                            </tr>
                        </table>
                    </div>

                    <div class="proceed-checkout-btn">
                        <a asp-action="Checkout" asp-controller="Basket" class="btn btn-full btn-black">Thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="items.length === 0" class="text-center">
            <h2>Bạn chưa có sản phẩm nào trong giỏ hàng</h2>
            <span>Tiếp tục mua sắm</span>
            <a asp-action="Index" asp-controller="Home">Trang chủ</a>
        </div>
    </div>
</div>
<!--== End Cart Page Wrapper ==-->
