﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Đặt hàng thành công";
    ViewData["Header"] = new List<Header>
{
        new Header
        {
            Controller = "Home",
            Text = "Trang chủ",
            Current = false
        },
        new Header
        {
            Text = "Đặt hàng thành công",
            Current = true
        }
    };
}

<div id="cart-page-wrapper" class="pt-86 pt-md-56 pt-sm-46 pb-50 pb-md-20 pb-sm-10">
    <div class="container">
        <div class="text-center">
            <h2>Đặt hàng thành công!</h2>
            <p>Cảm ơn bạn đã tin tưởng và đặt hàng của chúng tôi.</p>
            <p>Chúng tôi sẽ liên hệ với bạn sớm nhất qua số điện thoại để xác nhận đơn hàng!</p>
            <span>Tiếp tục mua sắm </span>
            <a asp-action="Index" asp-controller="Home">Trang chủ</a>
        </div>
    </div>
</div>