﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CosmeticEshop.Models.Product.ProductDetailModel
@{
    var parentCategory = ViewBag.parentCategory as IEnumerable<CosmeticEshop.Models.Product.CategoryModel>;
    ViewData["Title"] = Model.Name;

    var lstHeaders = new List<Header>
{
        new Header
        {
            Controller = "Home",
            Text = "Trang chủ",
            Current = false
        }
    };

    lstHeaders.AddRange(from parent in parentCategory.Distinct().Reverse()
                        select new Header
                        {
                            Controller = "Product",
                            Text = parent.Name,
                            RouteParams = new Dictionary<string, string>
{
                                { "Category", parent.Code }
                            },
                            Current = false,
                        });
    lstHeaders.Add(new Header
    {
        Text = Model.Name,
        Current = true
    });
    ViewData["Header"] = lstHeaders;

    var relatedProducts = ViewBag.RelatedProducts as IEnumerable<CosmeticEshop.Models.Product.ProductCardModel>;
}

<!--== Start Single Product Page Wrapper ==-->
<div id="single-product-page" class="pt-90 pt-md-60 pt-sm-50 pb-92 pb-md-58 pb-sm-50">
    <div class="container-fluid">
        <div class="row">
            <!-- Start Single Product Thumbnail -->
            <div class="col-xl-7 col-lg-6">
                <div class="single-product-thumb-wrap p-0 pb-sm-30 pb-md-30">
                    <!-- Product Thumbnail Large View -->
                    <div class="product-thumb-large-view">
                        <div class="product-thumb-carousel">
                            @foreach (var carousel in Model.CarouselImagePaths)
                            {
                                <figure class="product-thumb-item">
                                    <img src="@carousel" alt="@Model.Name" />
                                </figure>
                            }
                        </div>

                        <!-- Product Thumb Button  -->
                        <div class="product-thumb-btns">
                            <button class="btn-zoom-popup"><i class="dl-icon-zoom-in"></i></button>
                            @*<a href="https://player.vimeo.com/video/225547551?autoplay=1&title=0&byline=0&portrait=0"
                               class="btn-video-popup"><i class="dl-icon-format-video"></i></a>*@
                        </div>
                    </div>

                    <!-- Product Thumbnail Nav -->
                    <div class="product-thumbnail-nav">
                        @foreach (var carousel in Model.CarouselImagePaths)
                        {
                            <figure class="product-thumb-item">
                                <img src="@carousel" alt="@Model.Name" />
                            </figure>
                        }
                    </div>
                </div>
            </div>
            <!-- End Single Product Thumbnail -->
            <!-- Start Single Product Content -->
            <div class="col-xl-5 col-lg-6">
                <div class="single-product-content-wrapper">
                    <div class="single-product-details">
                        <h2 class="product-name">@Model.Name</h2>
                        <div class="prices-stock-status d-flex align-items-center justify-content-between">
                            <div class="prices-group">
                                @if (Model.Sale > 0)
                                {
                                    <del class="oldPrice">@Model.Price.ToVNString()</del>
                                    <span class="price">@((Model.Price - Model.Sale).ToVNString())</span>
                                }
                                else
                                {
                                    <span class="price">@Model.Price.ToVNString()</span>
                                }
                            </div>
                        </div>
                        @*<p class="product-desc"></p>*@

                        <div class="quantity-btn-group d-flex">
                            <div class="pro-qty">
                                <input type="text" id="quantity" value="1" />
                            </div>
                            <div class="list-btn-group">
                                <a href="cart.html" class="btn btn-black">Thêm vào giỏ hàng</a>
                                @*<a href="wishlist.html" data-toggle="tooltip" data-placement="top"
                                   title="Add to wishlist"><i class="dl-icon-heart2"></i></a>*@
                            </div>
                        </div>
                    </div>

                    <div class="product-description-review">
                        <!-- Product Description Tab Menu -->
                        <ul class="nav nav-tabs desc-review-tab-menu" id="desc-review-tab" role="tablist">
                            <li>
                                <a class="active" id="desc-tab" data-toggle="tab" href="#descriptionContent" role="tab">Mô tả sản phẩm</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="descriptionContent">
                                <div class="description-content">
                                    <p class="m-0">@Model.Description</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="single-product-footer d-block d-sm-flex justify-content-between">
                        <div class="prod-footer-right">
                            @await Html.PartialAsync("_ShareProductSocial", Model)
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Product Content -->
        </div>
    </div>
</div>
<!--== End Single Product Page Wrapper ==-->
<!--== Start Related Products Area ==-->
<section id="related-products-wrapper" class="pb-48 pb-md-18 pb-sm-8">
    <div class="container-fluid">
        <div class="row">
            <!-- Start Section title -->
            <div class="col-lg-8 m-auto text-center">
                <div class="section-title-wrap">
                    <h2>Sản phẩm liên quan</h2>
                </div>
            </div>
            <!-- End Section title -->
        </div>

        <div class="row products-on-column">
            @foreach (var relatedProduct in relatedProducts)
            {
                @await Html.PartialAsync("_ProductCartView", relatedProduct)
            }
        </div>
    </div>
</section>
<!--== End Related Products Area ==-->
