﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model CosmeticEshop.Models.Product.ProductSearchParams
@{
    var parentCategory = ViewBag.parentCategory as IEnumerable<CosmeticEshop.Models.Product.CategoryModel>;
    ViewData["Title"] = parentCategory.First().Name;
    var currentId = parentCategory.First().Id;

    var lstHeaders = new List<Header>
{
        new Header
        {
            Controller = "Home",
            Text = "Trang chủ",
            Current = false
        }
    };

    lstHeaders.AddRange(from parent in parentCategory.Distinct().Reverse()
                        select new Header
                        {
                            Controller = "Product",
                            Text = parent.Name,
                            RouteParams = new Dictionary<string, string>
{
                                { "Category", parent.Code }
                            },
                            Current = parent.Id == currentId,
                        });
    ViewData["Header"] = lstHeaders;

    var products = ViewBag.products as CosmeticEshop.Models.Helpers.ReturnListDto<CosmeticEshop.Models.Product.ProductCardModel>;
}

<style>
    h2 {
        font-size: 4rem;
        line-height: 1;
        font-weight: 300;
        margin-bottom: 25px;
    }
</style>
<!--== Start Shop Page Wrapper ==-->
<div id="shop-page-wrapper" class="pt-86 pt-md-56 pt-sm-46 pb-50 pb-md-20 pb-sm-10">
    <div class="container-fluid">
        <!--== Search Products ==-->
        <form asp-action="Index" method="get" asp-controller="Product" id="search-product-form">
            @Html.HiddenFor(x => x.CurrentPage)
            @Html.HiddenFor(x => x.PageSize)
            @Html.HiddenFor(x => x.Category)
            @Html.HiddenFor(x => x.Direction)
            @Html.HiddenFor(x => x.OrderBy)
            @Html.HiddenFor(x => x.FromPrice)
            @Html.HiddenFor(x => x.ToPrice)
            <div class="row search-product">
                <div class="col-md-5 col-sm-10">
                    <div class="single-input-item">
                        <input asp-for="Name" placeholder="Tên sản phẩm" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <button type="submit" class="btn btn-black">Tìm kiếm</button>
                </div>

            </div>
        </form>
        <!--== End Search Products ==-->
        <div class="row">
            <div class="col-lg-12">
                <!-- Start Product Config Area -->
                <div class="product-config-area d-md-flex justify-content-between align-items-center">
                    <div class="product-config-left d-sm-flex">
                        <p>Hiển thị @(products.TotalItems == 0 ? 0 : products.PageSize * (products.CurrentPage - 1) + 1)–@(products.PageSize * products.CurrentPage > products.TotalItems ? products.TotalItems : products.PageSize * products.CurrentPage ) của @products.TotalItems kết quả</p>
                        <ul class="product-show-quantity nav mt-xs-14">
                            <li>Hiển thị</li>
                            <li><a href="#" onclick="changePageSize(12)" class="@(Model.PageSize == 12 ? "active" : string.Empty)">12</a></li>
                            <li><a href="#" onclick="changePageSize(15)" class="@(Model.PageSize == 15 ? "active" : string.Empty)">15</a></li>
                            <li><a href="#" onclick="changePageSize(30)" class="@(Model.PageSize == 30 ? "active" : string.Empty)">30</a></li>
                        </ul>
                    </div>

                    <div class="product-config-right d-flex align-items-center mt-sm-14">
                        <ul class="product-view-mode">
                            <li data-viewmode="grid-view" class="active"><i class="fa fa-th"></i></li>
                            <li data-viewmode="list-view"><i class="fa fa-list"></i></li>
                        </ul>
                        <ul class="product-filter-sort">
                            <li>
                                <button class="filter-option arrow-toggle">Bộ lọc</button>
                            </li>
                            <li class="dropdown-show sort-by">
                                <button class="arrow-toggle">Sắp xếp</button>
                                <ul class="dropdown-nav">
                                    <li><a href="#" onclick="changeOrder('New', 'Desc')" class="@(Model.OrderBy == "New" && Model.Direction == "Desc" ? "active" : string.Empty)">Sản phẩm mới nhất</a></li>
                                    @*<li><a href="#">Sort by Popularity</a></li>*@
                                    <li><a href="#" onclick="changeOrder('Price', 'Desc')" class="@(Model.OrderBy == "Price" && Model.Direction == "Asc" ? "active" : string.Empty)">Sắp xếp theo giá: Thấp đến Cao</a></li>
                                    <li><a href="#" onclick="changeOrder('Price', 'Desc')" class="@(Model.OrderBy == "Price" && Model.Direction == "Desc" ? "active" : string.Empty)">Sắp xếp theo giá: Cao đến thấp</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Product Config Area -->
                <!-- Start Product Filter Item Area -->
                <div class="product-filter-item-wrapper">
                    <div class="product-filter-content d-md-flex justify-content-between">
                        <!--  Start Single Filter Item -->
                        <div class="single-filter-item-wrap">
                            <h3 class="filter-item-title">Sort By</h3>
                            <div class="filter-item-body">
                                <ul class="filter-item-list">
                                    <li><a href="#" class="active">Sản phẩm mới nhất</a></li>
                                    @*<li><a href="#">Sort by Popularity</a></li>*@
                                    <li><a href="#">Sắp xếp theo giá: Thấp đến Cao</a></li>
                                    <li><a href="#">Sắp xếp theo giá: Cao đến thấp</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--  End Single Filter Item -->
                        <!--  Start Single Filter Item -->
                        <div class="single-filter-item-wrap">
                            <h3 class="filter-item-title">By Price</h3>
                            <div class="filter-item-body">
                                <ul class="filter-item-list">
                                    <li><a href="#" onclick="changePricePeriod(0,1)" class="@(Model.FromPrice == 0 && Model.ToPrice == 0 ? "active" : string.Empty)">$20.00 - $30.00</a></li>
                                    <li><a href="#" onclick="changePricePeriod(0,1)" class="@(Model.FromPrice == 0 && Model.ToPrice == 0 ? "active" : string.Empty)">$31.00 - $40.00</a></li>
                                    <li><a href="#" onclick="changePricePeriod(0,1)" class="@(Model.FromPrice == 0 && Model.ToPrice == 0 ? "active" : string.Empty)">$41.00 - $50.00</a></li>
                                    <li><a href="#" onclick="changePricePeriod(0,1)" class="@(Model.FromPrice == 0 && Model.ToPrice == 0 ? "active" : string.Empty)">$51.00 - $60.00</a></li>
                                    <li><a href="#" onclick="changePricePeriod(0,1)" class="@(Model.FromPrice == 0 && Model.ToPrice == 0 ? "active" : string.Empty)">$61.00 - $70.00</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--  End Single Filter Item -->
                    </div>
                </div>
                <!-- End Product Filter Item Area -->
                @if (products.Data.Any())
                {
                    <!-- Start Shop Page Product Area -->
                    <div class="shop-page-products-wrapper mt-44 mt-sm-30">
                        <div class="products-wrapper products-on-column">
                            <div class="row">
                                @foreach (var product in products.Data)
                                {
                                    @await Html.PartialAsync("_ProductCartView", product)
                                }
                            </div>
                        </div>
                    </div>
                    <!-- End Shop Page Product Area -->
                    <!-- Page Pagination Start  -->
                    <div class="page-pagination-wrapper mt-70 mt-md-50 mt-sm-40">
                        <nav class="page-pagination">
                            <ul class="pagination justify-content-center">
                                <li><a href="#" class="@(products.CurrentPage <= 1 ? "disabled" : string.Empty)" id="previous-page" onclick="previousPage()"><i class="fa fa-angle-double-left"></i></a></li>
                                @for (int i = 0; i < products.TotalPages; i++)
                                {
                                    <li><a href="#" onclick="jumpToPage(@(i + 1))" class="@(products.CurrentPage == (i + 1) ? "active" : string.Empty)">@(i + 1)</a></li>
                                }
                                <li><a href="#" id="next-page" class="@(products.CurrentPage >= products.TotalPages ? "disabled" : string.Empty)" onclick="nextPage()"><i class="fa fa-angle-double-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Page Pagination End  -->
                }
                else
                {
                    <div class="col-lg-12 my-auto text-center">
                        <h2>Không tìm thấy Sản phẩm nào!</h2>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<!--== End Shop Page Wrapper ==-->
<!--== Start Quick View Modal Wrapper ==-->
<div class="modal" id="quickViewModal" tabindex="-1">
</div>
<!--== End Quick View Modal Wrapper ==-->


@section Scripts {
    <script>
        function submitSearchForm() {
            $('#search-product-form').submit();
        }
    function previousPage() {
        @if (products.CurrentPage > 1)
        {
            <text>
        $('#CurrentPage').val(@(products.CurrentPage - 1));
        submitSearchForm();
            </text>
        }
    }

    function nextPage() {
        @if (products.CurrentPage < products.TotalPages - 1)
        {
            <text>
        $('#CurrentPage').val(@(products.CurrentPage + 1));
        submitSearchForm();
        </text>
        }
    }

    function jumpToPage(page) {
        $('#CurrentPage').val(page);
        submitSearchForm();
    }

        function changePageSize(pageSize) {
            $('#PageSize').val(pageSize);
            submitSearchForm();
        }

        function changeOrder(orderBy, direction) {
            $('#OrderBy').val(orderBy);
            $('#Direction').val(direction);
            submitSearchForm();
        }

        function changePricePeriod(fromPrice, toPrice) {
            $('#FromPrice').val(fromPrice);
            $('#ToPrice').val(toPrice);
            submitSearchForm();
        }

        function quickViewModal(productId) {
            $.ajax({
                url: '/Product/QuickView',
                data: {
                    productId
                },
                type: 'GET',
                contentType: 'html'
            })
                .done(function (result) {
                    $('#quickViewModal').html(result);
                });
        }

    </script>
}