﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CosmeticEshop.Models.Product.ProductDetailModel
@{

}

<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="dl-icon-close"></i></span>
        </button>
        <div class="modal-body">
            <div class="row">
                <!-- Start Single Product Thumbnail -->
                <div class="col-lg-5 col-md-6">
                    <div class="single-product-thumb-wrap p-0 pb-sm-30 pb-md-30">
                        <!-- Product Thumbnail Large View -->
                        <div class="quciview-product-thumb-carousel">
                            @foreach (var carousel in Model.CarouselImagePaths)
                            {
                                <figure class="product-thumb-item">
                                    <img src="@carousel" alt="@Model.Name" />
                                </figure>
                            }
                        </div>
                    </div>
                </div>
                <!-- End Single Product Thumbnail -->
                <!-- Start Single Product Content -->
                <div class="col-lg-7 col-md-6 m-auto">
                    <div class="single-product-content-wrapper">
                        <div class="single-product-details">
                            <h2 class="product-name">@Model.Name</h2>
                            <div class="prices-stock-status d-flex align-items-center justify-content-between">
                                <div class="prices-group">
                                    @if (Model.Sale > 0)
                                    {
                                        <del class="oldPrice">@Model.Price.ToVNString()</del>
                                        <span class="price">@((Model.Price - Model.Sale).ToVNString())</span>
                                    }
                                    else
                                    {
                                        <span class="price">@Model.Price.ToVNString()</span>
                                    }
                                </div>
                                @*<span class="stock-status"><i class="dl-icon-check-circle1"></i> In  Stock</span>*@
                            </div>
                            <p class="product-desc">@Model.Summary</p>

                            <div class="quantity-btn-group d-flex">
                                <div class="pro-qty">
                                    <input type="text" id="quantity" value="1" />
                                </div>
                                <div class="list-btn-group">
                                    <a href="#" onclick="addToCart('@Model.Id', $('#quantity').val())" class="btn btn-black">Thêm vào giỏ hàng</a>
                                    @*<a href="wishlist.html" data-toggle="tooltip" data-placement="top"
                                        title="Add to wishlist"><i class="dl-icon-heart2"></i></a>*@
                                </div>
                            </div>

                            @*<div class="find-store-delivery">
                                    <a href="#"><i class="fa fa-map-marker"></i> Find store near you</a>
                                    <a href="#"><i class="fa fa-exchange"></i> Delivery and return</a>
                                </div>*@
                        </div>

                        <div class="single-product-footer mt-20 pt-20">
                            <div class="prod-footer-right">
                                @await Html.PartialAsync("_ShareProductSocial", Model)
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Product Content -->
            </div>
        </div>
    </div>
</div>

<!--=== Active Js ===-->
<script src="/js/active.min.js"></script>