﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CosmeticEshop.Models.Blogs.BlogCardModel
@{
}

<!-- Start Single Blog Item -->
<div class="col-12 text-center">
    <div class="single-blog-post-wrap">
        <figure class="blog-post-thumbnail">
            <a asp-action="Detail" asp-controller="Blog" asp-route-id="@Model.Id"><img src="@Model.ImagePath" alt="@Model.Name" /></a>
        </figure>
        <div class="blog-post-content">
            <div class="blog-meta">
                <a href="#" class="author">By @Model.Author</a>
                <span> - </span>
                <a asp-action="Detail" asp-controller="Blog" asp-route-id="@Model.Id" class="date">@Model.CreatedDate.ToString("MMM dd, yyyy")</a>
            </div>
            <h2><a asp-action="Detail" asp-controller="Blog" asp-route-id="@Model.Id">@Model.Name</a></h2>
            <p>@Model.ShortDescription</p>
            <a asp-action="Detail" asp-controller="Blog" asp-route-id="@Model.Id" class="btn btn-transparent">Read More</a>
        </div>
    </div>
</div>
<!-- End Single Blog Item -->