﻿@model IEnumerable<CosmeticEshop.Models.Header>

<ul class="d-flex justify-content-center">
    @foreach (var header in @Model)
    {
        if (header.Current)
        {
            <li><a href="#" class="active">@header.Text</a></li>
        }
        else
        {
            <li><a asp-area="@header.Area" asp-controller="@header.Controller" asp-action="@header.Action" asp-all-route-data="@header.RouteParams">@header.Text</a></li>
        }
    }
</ul>