﻿@using CosmeticEshop.Models.Contact;
@using CosmeticEshop.Models.Menu;
@using CosmeticEshop.Models.Baskets;
@{
    var shopContact = ViewBag.shopContact as ContactInformationModel;
    var menus = ViewBag.menus as IEnumerable<MenuModel>;
    var basket = ViewBag.basket as Basket;
}
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">

    <title>@ViewData["Title"] - @shopContact.Name</title>

    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">


    <!--=== Revolution Slider CSS ===-->
    <link href="/css/revslider/settings.css" rel="stylesheet">

    <!--=== Bootstrap CSS ===-->
    <link href="/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!--=== Font-Awesome CSS ===-->
    <link href="/css/vendor/font-awesome.css" rel="stylesheet">
    <!--=== Dl Icon CSS ===-->
    <link href="/css/vendor/dl-icon.css" rel="stylesheet">
    <!--=== Plugins CSS ===-->
    <link href="/css/plugins.css" rel="stylesheet">
    <!--=== Helper CSS ===-->
    <link href="/css/helper.min.css" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="/css/style.min.css" rel="stylesheet">
    <!--=== Custom Style CSS ===-->
    <link href="/css/site.css" rel="stylesheet" asp-append-version="true">

    <!-- Modernizer JS -->
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- Angular JS -->
    <script src="~/angular.js/angular.min.js"></script>

    <!-- Sweet alert CSS -->
    <link href="~/limonte-sweetalert2/sweetalert2.min.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="preloader-active">
    <!--== Start PreLoader Wrap ==-->
    <div class="preloader-area-wrap">
        <div class="spinner d-flex justify-content-center align-items-center h-100">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!--== End PreLoader Wrap ==-->
    <!--== Start Header Area ===-->
    <header id="header-area" class="sticky-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-content-wrapper d-flex align-items-center">
                        <div class="header-left-area d-flex align-items-center">
                            <!-- Start Logo Area -->
                            <div class="logo-area">
                                <a href="/"><img src="/img/logo.svg" alt="@shopContact.Name - Logo" /></a>
                            </div>
                            <!-- End Logo Area -->
                        </div>

                        <div class="header-mainmenu-area d-none d-lg-block">
                            <!-- Start Main Menu -->
                            <nav id="mainmenu-wrap">
                                <ul class="nav mainmenu justify-content-center">
                                    @{
                                        CreateMenu(menus);
                                    }
                                </ul>
                            </nav>
                            <!-- End Main Menu -->
                        </div>

                        <div class="header-right-area d-flex justify-content-end align-items-center">
                            <button class="search-icon animate-modal-popup" data-mfp-src="#search-box-popup"><i class="dl-icon-search1"></i></button>
                            @*<button class="heart-icon" onclick="window.location.href='/basket/wishlist'"><i class="fa fa-heart"></i></button>*@
                            <button class="mini-cart-icon modalActive" data-mfp-src="#miniCart-popup">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="cart-count">@basket.Items.Count</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--== End Header Area ===-->
    <!-- Start Page Header Wrapper -->
    <div class="page-header-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="page-header-content">
                        <h2>@ViewData["Title"]</h2>
                        <nav class="page-breadcrumb">
                            @if (ViewData["Header"] != null)
                            {

                                @await Html.PartialAsync("_Header", ViewData["Header"]);
                            }
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Header Wrapper -->
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <!--== Start Footer Section ===-->
    <footer id="footer-area">
        <!-- Start Footer Widget Area -->
        <div class="footer-widget-area pt-40 pb-28">
            <div class="container">
                <div class="footer-widget-content">
                    <div class="row">
                        <!-- Start Footer Widget Item -->
                        <div class="col-md-12 col-lg-3">
                            <div class="footer-widget-item-wrap">
                                <div class="widget-body">
                                    <div class="about-text pt-38 pt-sm-0 pt-md-0">
                                        <a href="/"><img src="/img/logo.svg" alt="Logo" /></a>
                                        <p>
                                            Pellentesque mollis nec orci id tincidunt. Sed mollis risus eu nisi aliquet, sit
                                            amet fermentum justo dapibus.
                                        </p>
                                        <p class="d-none d-md-block d-lg-none">
                                            Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit. Animi asperiores aspernatur consectetur distinctio eius enim
                                            eum fuga incidunt maiores molestias nihil, odio reiciendis sed. Architecto iure
                                            nihil tempora veniam voluptate!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Footer Widget Item -->
                        <!-- Start Footer Widget Item -->
                        <div class="col-sm-4 col-lg-3">
                            <div class="footer-widget-item-wrap">
                                <h3 class="widget-title">Sản phẩm</h3>
                                <div class="widget-body">
                                    <ul class="footer-list">
                                        <li><a href="/haracell">Haracell</a></li>
                                        <li><a href="/cosmetic">Mỹ phẩm</a></li>
                                        <li><a href="/functional-foods">Thực phẩm chức năng</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Footer Widget Item -->
                        <!-- Start Footer Widget Item -->
                        <div class="col-sm-4 col-lg-3">
                            <div class="footer-widget-item-wrap">
                                <h3 class="widget-title">Dịch vụ</h3>
                                <div class="widget-body">
                                    <ul class="footer-list">
                                        <li><a href="/service/spa">Spa</a></li>
                                        <li><a href="/service/hair">Tóc</a></li>
                                        <li><a href="/service/commerce">Thương mại</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Footer Widget Item -->
                        <!-- Start Footer Widget Item -->
                        <div class="col-sm-4 col-lg-3">
                            <div class="footer-widget-item-wrap">
                                <h3 class="widget-title">Contact Us</h3>
                                <div class="widget-body">
                                    <div class="contact-text">
                                        <a href="tel:@(shopContact.PhoneNumber)">@shopContact.PhoneNumber</a>
                                        <a href="mailto:@(shopContact.Email)">@shopContact.Email</a>
                                        <p>@shopContact.Address</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Footer Widget Item -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Widget Area -->
        <!-- Start Footer Bottom Area -->
        <div class="footer-bottom-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-6 m-auto order-1">
                        <div class="footer-social-icons nav justify-content-center justify-content-sm-start mb-xs-10">
                            <a href="@shopContact.FacebookUrl" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="@shopContact.InstagramUrl" target="_blank"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>


                    <div class="col-sm-6 col-lg-6 m-auto order-2 text-center text-md-right">
                        <div class="copyright-text mt-xs-10 ">
                            <p>
                                ©@DateTime.Now.Year
                                , @shopContact.Name. Made with <i class="fa fa-heart text-danger"></i> by <a href="mailto:tanluutrong2206@gmail.com" target="_blank">Cá Kiếm Team</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom Area -->
    </footer>
    <!--== End Footer Section ===-->
    <!--== Start Search box Wrapper ==-->
    <div class="modalSearchBox" id="search-box-popup">
        <div class="modaloverlay"></div>
        <div class="search-box-wrapper">
            <p>Nhập tên sản phẩm muốn tìm kiếm</p>
            <div class="search-box-form">
                <form asp-action="Index" asp-controller="Product" method="get" class="search-form-area">
                    <input type="search" name="Name" id="search" placeholder="Tên sản phẩm" />
                    <button type="submit" class="btn-search"><i class="dl-icon-search10"></i></button>
                </form>
            </div>
        </div>
    </div>
    <!--== End Search box Wrapper ==-->

    <div id="mini-cart-view">
        @{
            @await Html.PartialAsync("_MiniCartView", basket);
        }
    </div>

    <!--=======================Javascript============================-->
    <!--=== Jquery Min Js ===-->
    <script src="/js/vendor/jquery-3.3.1.min.js"></script>
    <!--=== Jquery Migrate Min Js ===-->
    <script src="/js/vendor/jquery-migrate-1.4.1.min.js"></script>
    <!--=== Popper Min Js ===-->
    <script src="/js/vendor/popper.min.js"></script>
    <!--=== Bootstrap Min Js ===-->
    <script src="/js/vendor/bootstrap.min.js"></script>
    <!--=== Plugins Js ===-->
    <script src="/js/plugins.js"></script>
    <!--=== Ajax Mail Js ===-->
    <script src="/js/ajax-mail.js"></script>

    <!--=== Active Js ===-->
    <script src="/js/active.min.js"></script>

    <!--=== Revolution Slider Js ===-->
    <script src="/js/revslider/jquery.themepunch.tools.min.js"></script>
    <script src="/js/revslider/jquery.themepunch.revolution.min.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="/js/revslider/extensions/revolution.extension.actions.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.carousel.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.migration.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.navigation.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.parallax.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.video.min.js"></script>

    <!-- Add signal R -->
    <script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>

    <!-- Sweet alert 2 -->
    <script src="~/limonte-sweetalert2/sweetalert2.min.js"></script>

    <!-- Notify js -->
    <script src="~/js/notify.min.js"></script>

    <script src="/js/revslider/revslider-active.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/basket.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@* Function area *@
@functions
{
    void CreateMenu(IEnumerable<MenuModel> menus)
    {
        foreach (var menu in menus.Where(x => string.IsNullOrEmpty(x.ParentId)).OrderBy(x => x.Order))
        {
            CreateMenu(menu, menus);
        }
    }

    void CreateMenu(MenuModel currentMenu, IEnumerable<MenuModel> menus)
    {
        var hasChild = menus.Any(x => x.ParentId == currentMenu.Id);
        <li class="@(hasChild ? "dropdown-show" : string.Empty)">
            <a href="@currentMenu.Url" class="@(currentMenu.Url == Context.Request.Path.Value ? "current" : string.Empty)">@currentMenu.Name</a>
            @if (hasChild)
            {
                <ul class="dropdown-nav">
                    @foreach (var subMenu in menus.Where(x => x.ParentId == currentMenu.Id).OrderBy(x => x.Order))
                    {
                        CreateMenu(subMenu, menus);
                    }
                </ul>
            }

        </li>
    }
}