﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CosmeticEshop.Models.Baskets.Basket
@{
}

<!--== Start Mini Cart Wrapper ==-->
<div class="mfp-hide modal-minicart min-w-400" id="miniCart-popup">
    <div class="minicart-content-wrap">
        <h2>Giỏ hàng</h2>
        <div class="minicart-product-list">
            @foreach (var item in Model.Items)
            {
                <!-- Start Single Product -->
                <div class="single-product-item d-flex" id="minicart-@item.ProductId">
                    <figure class="product-thumb">
                        <a asp-action="detail" asp-controller="product" asp-route-id="@item.ProductId"><img src="@item.ImageFile" alt="@item.ProductName"></a>
                    </figure>
                    <div class="product-details">
                        <h2 class="product-title"><a asp-action="detail" asp-controller="product" asp-route-id="@item.ProductId">@item.ProductName</a></h2>
                        <div class="prod-cal d-flex align-items-center">
                            <span class="quantity">@item.Quantity</span>
                            <span class="multiplication">&#215;</span>
                            <span class="price">@((item.Price - item.Sale).ToVNString())</span>
                        </div>
                    </div>
                    <a href="javascript:void(0);" onclick="removeItem('@item.ProductId')" class="remove-icon">&#215;</a>
                </div>
                <!-- End Single Product -->
            }
        </div>
        <div class="minicart-calculation-wrap d-flex justify-content-between align-items-center">
            <span class="cal-title">Tổng tạm tính:</span>
            <span class="cal-amount">@Model.Items.Sum(x => x.Price * x.Quantity).ToVNString()</span>
        </div>
        <div class="minicart-btn-group mt-38">
            <a asp-action="index" asp-controller="basket" class="btn btn-black ">Xem giỏ hàng</a>
            <a asp-action="checkout" asp-controller="basket" class="btn btn-black mt-10">Thanh toán</a>
        </div>
    </div>
</div>
<!--== End Mini Cart Wrapper ==-->
