﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CosmeticEshop.Models.Product.ProductCardModel
@using CosmeticEshop.Extensions;
@{
}

<!-- Start Single Product -->
<div class="col-lg-3 col-sm-6">
    <div class="single-product-wrap">
        <!-- Product Thumbnail -->
        <figure class="product-thumbnail">
            <a asp-action="Detail" asp-route-id="@Model.Id" class="d-block">
                <img class="primary-thumb" src="@Model.ImageCardUrl"
                     alt="Product" />
                <img class="secondary-thumb" src="@Model.ImageCardUrl"
                     alt="Product" />
            </a>
            @if(Model.Price > 0)
            {
                <figcaption class="product-hvr-content">
                    <a href="javascript:void(0);" onclick="addToCart('@Model.Id', 1)" class="btn btn-black btn-addToCart">Thêm vào giỏ hàng</a>
                    <div class="prod-btn-group">
                        <span data-toggle="tooltip" data-placement="top" title="Quick Shop">
                            <button data-toggle="modal" onclick="quickViewModal('@Model.Id')" data-target="#quickViewModal">
                                <i class="dl-icon-view"></i>
                            </button>
                        </span>
                        @*<a href="wishlist.html" data-toggle="tooltip" data-placement="top"
                            title="Add to Wishlist"><i class="dl-icon-heart4"></i></a>*@
                    </div>
                    @if (Model.Sale > 0)
                    {
                        <span class="product-badge sale">-@((int)(Model.Sale / Model.Price * 100))%</span>
                    }
                </figcaption>
            }
        </figure>

        <!-- Product Details -->
        <div class="product-details">
            <h2 class="product-name"><a asp-action="Detail" asp-route-id="@Model.Id">@Model.Name</a></h2>
            <div class="product-prices">
                <!-- Check if price = 0  then display "Lien he"-->
                @if (Model.Price == 0)
                {
                }
                else if (Model.Sale > 0)
                {
                    <del class="oldPrice">@Model.Price.ToVNString()</del>
                    <span class="price">@((Model.Price - Model.Sale).ToVNString())</span>
                }
                else
                {
                    <span class="price">@Model.Price.ToVNString()</span>
                }
            </div>
            <div class="list-view-content">
                <div class="list-btn-group mt-30 mt-sm-14">
                    <p class="product-desc">@Model.Summary</p>
                    @if (Model.Price > 0)
                    {
                        <a href="javascript:void(0);" onclick="addToCart('@Model.Id', 1)" class="btn btn-black">Thêm vào giỏ hàng</a>
                    }
                    else
                    {
                        var phone = SessionExtensions.GetContactPhone(Context);
                        <a href="tel:@phone" class="btn btn-black">Liên hệ</a>
                    }
                    <!--
        <a href="wishlist.html" data-toggle="tooltip" data-placement="top"
           title="Add to wishlist"><i class="dl-icon-heart2"></i></a>
    -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Single Product -->