﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CosmeticEshop.Models.Product.ProductDetailModel
@{
    var currentLink = Context.Request.Host.Value;
    var currentScheme = Context.Request.Scheme;
    var shareFb = $"http://www.facebook.com/sharer/sharer.php?u={currentScheme}://{currentLink}/product/detail/{Model.Id}";
}

<dl class="social-share">
    <dt>Chia sẻ với</dt>
    <dd><a href="@shareFb"><i class="fa fa-facebook"></i></a></dd>
    <dd><a href="#"><i class="fa fa-instagram"></i></a></dd>
</dl>